<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Montando o Lanche</title>

    <!-- VUE -->
    <script src="./vue.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</head>

<body>
    <nav class="navbar navbar-light bg-light">
        <div class="container">
            <span class="navbar-brand mb-0 h1">Monte seu lanche</span>
        </div>
    </nav>
    <div class="container">
        <div id="app">
            <div class="row">
                <div class="col-md-6">
                    <div class="col">
                        <img :src="pao[0]">
                        <img :src="alface">
                        <img :src="ketchup">
                        <img :src="maionese">
                        <img :src="mostarda">
                        <img :src="hamburger">
                        <img :src="pao[1]">
                    </div>
                </div>

                <!-- MONTANDO PEDIDO -->
                <div class="col-md-6" v-if="etapa == 1">
                    <!--TIPO DO PAO-->
                    <div class="row mt-2">
                        <div class="col">
                            <div class="card">
                                <div class="card-header">Tipo do pão</div>
                                <div class="card-body">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" value="gergelim"
                                            v-model="inputTipoPao">
                                        <label class="form-check-label">Gergelim</label>
                                    </div>
                                    <div class="form-check-inline">
                                        <input class="form-check-input" type="radio" value="australiano"
                                            v-model="inputTipoPao">
                                        <label class="form-check-label">Australiano</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- SALADAS -->
                    <div class="row mt-2">
                        <div class="col">
                            <div class="card">
                                <div class="card-header">Saladas</div>
                                <div class="card-body">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="alface"
                                            v-model="inputSalada">
                                        <label class="form-check-label">Alface</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- MOLHOS -->
                    <div class="row mt-2">
                        <div class="col">
                            <div class="card">
                                <div class="card-header">Molhos</div>
                                <div class="card-body">
                                    <div class="card-body">
                                        <div class="form-check-inline">
                                            <input class="form-check-input" type="checkbox" value="ketchup"
                                                v-model="inputMolhos">
                                            <label class="form-check-label">Ketchup</label>
                                        </div>
                                        <div class="form-check-inline">
                                            <input class="form-check-input" type="checkbox" value="mostarda"
                                                v-model="inputMolhos">
                                            <label class="form-check-label">Mostarda</label>
                                        </div>
                                        <div class="form-check-inline">
                                            <input class="form-check-input" type="checkbox" value="maionese"
                                                v-model="inputMolhos">
                                            <label class="form-check-label">Maionese</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- TIPO DE hamburger -->
                    <div class="row mt-2">
                        <div class="col">
                            <div class="card">
                                <div class="card-header">Tipo de hamburger</div>
                                <div class="card-body">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" value="bovino"
                                            v-model="inputHamburger">
                                        <label class="form-check-label">Bovino</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" value="frango"
                                            v-model="inputHamburger">
                                        <label class="form-check-label">Frango</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" value="soja"
                                            v-model="inputHamburger">
                                        <label class="form-check-label">Soja</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col d-flex justify-content-end">
                            <button type="button" class="btn btn-primary" @click="fazerPedido()">Fazer pedido</button>
                        </div>
                    </div>
                </div>

                <!-- INFORMAÇOES DO CLIENTE -->
                <div class="col-md-6" v-if="etapa == 2">
                    <div class="row mt-2">
                        <div class="col">
                            <div class="card">
                                <div class="card-header">Informe seus dados</div>
                                <div class="card-body">
                                    <div class="mb-3">
                                        <label class="form-label">Nome</label>
                                        <input type="text" class="form-control" v-model="nome">
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label">Endereco</label>
                                        <input type="text" class="form-control" v-model="endereco">
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col d-flex justify-content-between">
                                    <button type="button" class="btn btn-warning"
                                        @click="voltarPagina()">Voltar</button>
                                    <button type="button" class="btn btn-success"
                                        @click="confirmarPedido()">Confirmar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- PEDIDO CONFIRMADO -->
                <div class="col-md-6" v-if="etapa == 3">
                    <div class="row mt-2">
                        <div class="col">
                            <div class="card">
                                <div class="card-header">Pedido confirmado</div>
                                <div class="card-body">
                                    <p>Agora é só aguardar!</p>
                                    <p>Seu pedido está sendo preparado.</p>
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col d-flex justify-content-between">
                                    <button type="button" class="btn btn-primary" @click="etapa = 1">Repetir
                                        pedido</button>
                                    <button type="button" class="btn btn-success" @click="novoPedido()">Novo
                                        pedido</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
            const vm = new Vue({
                el: "#app",
                data: {
                    inputTipoPao: '',
                    inputSalada: [],
                    inputMolhos: [],
                    inputHamburger: '',
                    etapa: 1,
                    nome: '',
                    endereco: ''
                },
                methods: {
                    fazerPedido() {
                        if (this.inputTipoPao == '' || this.inputHamburger == '')
                            alert('Selecione pelo menos um pão e/ou hamburger')
                        else
                            this.etapa = 2
                    },
                    confirmarPedido() {
                        if (this.nome == '')
                            alert('Nome obrigatório!')
                        else if (this.endereco == '')
                            alert('Endereço obrigatório!')
                        else{
                            this.etapa = 3
                            setTimeout(() => {
                                if(this.etapa == 3)
                                    this.novoPedido()
                            }
                            , 7000)
                        }
                    },
                    voltarPagina() {
                        this.etapa -= 1
                    },
                    novoPedido() {
                        this.etapa = 1

                        this.inputTipoPao = ''
                        this.inputSalada = []
                        this.inputMolhos = []
                        this.inputHamburger = ''
                        this.etapa = 1
                        this.nome = ''
                        this.endereco = ''
                    }
                },
                computed: {
                    pao() {
                        switch (this.inputTipoPao) {
                            case 'gergelim':
                                return ['imagens/pao_gergelim_superior.png', 'imagens/pao_gergelim_inferior.png']
                            case 'australiano':
                                return ['imagens/pao_australiano_superior.png', 'imagens/pao_australiano_inferior.png']
                            default:
                                return ['imagens/padrao/pao_superior.png', 'imagens/padrao/pao_inferior.png']
                        }
                    },
                    alface() {
                        return this.inputSalada == '' ? 'imagens/padrao/alface.png' : 'imagens/alface.png'
                    },
                    ketchup() {
                        return this.inputMolhos.includes('ketchup') ? 'imagens/ketchup.png' : 'imagens/padrao/molho.png'
                    },
                    mostarda() {
                        return this.inputMolhos.includes('mostarda') ? 'imagens/mostarda.png' : 'imagens/padrao/molho.png'
                    },
                    maionese() {
                        return this.inputMolhos.includes('maionese') ? 'imagens/maionese.png' : 'imagens/padrao/molho.png'
                    },
                    hamburger() {
                        switch (this.inputHamburger) {
                            case 'bovino':
                                return 'imagens/bovino.png'
                            case 'frango':
                                return 'imagens/frango.png'
                            case 'soja':
                                return 'imagens/soja.png'
                            default:
                                return 'imagens/padrao/hamburguer.png'
                        }
                    }
                }
            })
        </script>
</body>

</html>